<div class="pagination">
  <a href="<%=path%>/?pageToLoad=<%=paginationProps.prevPage%>&dir=left ">&laquo;</a>
  <% for(var i=paginationProps.firstLink; i<= paginationProps.lastLink; i++){ %>
    <a 
      class = <%= parseInt(paginationProps.pageToLoad) === i ? "active": "#" %> 
      href="<%=path%>/?pageToLoad=<%=i%>">
        <%=i%>
    </a>
  <% } %>
  <a href="<%=path%>/?pageToLoad=<%=paginationProps.nextPage%>&dir=right">&raquo;</a>
</div>
