<%- include('../includes/head.ejs') %>
		<link rel="stylesheet" href="/css/cart.css">
		<script src="https://js.stripe.com/v3/"></script>
		<script src="./js/stripe.js"></script>
    </head>

    <body>
			<%- include('../includes/navigation.ejs') %>
			<main>
			<ul class="cart__item-list">
			<% cart.forEach(item => { %>
				<li class="cart__item">
								<h1><%= item.product.title %></h1>
								<h2>Quantity: <%= item.quantity %></h2>
				</li>
			<% }) %>
			</ul>
			<div>
				<h2 class="centered">Total: <%= totalSum %></h2>
			</div>
			</main>
				<button onclick = 'createOrder("<%= checkoutSessionId %>")'>Order Now!</button>
			<%- include('../includes/end.ejs') %>